footer.footer
    .container-fluid
        .row
            // Seccion de categorias
            .col-xs-12.col-sm-3.col-md-3.categorias
                h4.footer__titulo Categorías
                ul.footer__menu
                    li.footer__menu__item: a.footer__menu__link(href="#") Comercio
                    li.footer__menu__item: a.footer__menu__link(href="#") Economía
                    li.footer__menu__item: a.footer__menu__link(href="#") Empresas y Negocios

            // Seccion acerca de nosotros
            .col-xs-12.col-sm-3.col-md-3.acerca
                h4.footer__titulo Acerca de Camersur
                ul.footer__menu
                    li.footer__menu__item: a.footer__menu__link(href="#") Nosotros
                    li.footer__menu__item: a.footer__menu__link(href="#") Planes
                    li.footer__menu__item: a.footer__menu__link(href="#") Aviso legal
                    li.footer__menu__item: a.footer__menu__link(href="#") Términos de uso
                    li.footer__menu__item: a.footer__menu__link(href="#") Políticas de cookies

            // Logo Camersur
            .col-xs-12.col-sm-3.col-md-3
                img(src="img/camersur_logo.png", alt="Camersur Logo", class="img-responsive")

            // Seccion de contacto
            .col-xs-12.col-sm-3.col-md-3.contacto
                h4.footer__titulo
                p.contacto__email info@camersur.com
                p.contacto__telefono Telf: 954-687-0025
                p.contacto__direccion
                    |2863 Executive Park Dr. Suite 102 Weston
                    br
                    | FL 33326

            // Seccion de copyright
            .col-xs-12.col-sm-6.col-sm-offset-3.copyright
                p.text-center Copyright &copy; CAMERSUR, 2016-2017. Todos los derechos reservados

script(src="js/jquery.min.js")
script(src="js/bootstrap.min.js")

