.row
    section.divisor3
.row
    section.sociales
        .sociales__item.sociales__item--facebook
        .sociales__item.sociales__item--twitter
            a(class="twitter-timeline", data-height="600", href="https://twitter.com/Camersur") Tweets by Camersur
            script(async src="//platform.twitter.com/widgets.js", charset="utf-8")
        .sociales__item.sociales__item--instagram

