.row
    section.divisor3
.row
    section.sociales
        .sociales__item.sociales__item--facebook
            iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fca.mer.sur.com.ve%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId", width="340", height="500", style="border:none;overflow:hidden", scrolling="no", frameborder="0", allowTransparency="true")
        .sociales__item.sociales__item--twitter
            a(class="twitter-timeline", data-height="600", href="https://twitter.com/Camersur") Tweets by Camersur
            script(async src="//platform.twitter.com/widgets.js", charset="utf-8")
        .sociales__item.sociales__item--instagram
            script(src="//platform.linkedin.com/in.js", type="text/javascript")
            script(type="IN/CompanyProfile", data-id="10518585", data-format="inline", data-related="false")

