aside.col-xs-12.col-md-4.publicidad
    .row
        .col-xs-12
            section.boletin
                h2.boletin__titulo
                    span.icon-envelope-o
                    | Boletines
                .boletin__acciones
                    h2.boletin__acciones__btnemail.boletin__acciones__btnemail--suscribete
                        a(href="#", data-toggle="modal", data-target="#bloque-newsletter") Suscríbete
                p.boletin__anteriores.text-center
                    a(href="#") Boletines anteriores
            section.camersurtv
                h2.boletin__titulo CAMERSUR TV
                .camersurtv__video
                    video(width="100%", height="240", controls)
                        |Tu navegador no soporta la etiqueta video
            section.hidden-xs.hidden-sm.publicidad
                img(src="img/esmitecp.png", alt="Esmitecp", class="img-responsive")

include ../modals/newsletter
