aside.col-xs-12.col-sm-6.col-md-3.categoria-secundaria__publicidad
    figure.header-detalle__publicidad
        img(src="img/Banner4.png", alt="Publicidad", class="img-responsive")
    .divisor-detalle
    figure.categoria-secundaria__img
        img(src="img/Banner1.png", alt="Publicidad 1", class="img-responsive")
    figure.categoria-secundaria__img
        img(src="img/Banner2.png", alt="Publicidad 2", class="img-responsive")
    figure.categoria-secundaria__img
        img(src="img/Banner3.png", alt="Publicidad 3", class="img-responsive")

