aside.col-xs-12.col-sm-6.col-md-4.categoria-secundaria__publicidad
    figure
        img(src="img/Banner1.png", alt="Publicidad 1", class="img-responsive")
    figure
        img(src="img/Banner2.png", alt="Publicidad 2", class="img-responsive")
    figure
        img(src="img/Banner3.png", alt="Publicidad 3", class="img-responsive")

    .categoria-secundaria__sociales
        h3.categoria-secundaria__sociales__titulo Síguenos!
        ul.categoria-secundaria__menu
            li.categoria-secundaria__menu__item
                a.categoria-secundaria__menu__link(href="#")
                    span Facebook
                    |/ca.mer.sur.com.ve
            li.categoria-secundaria__menu__item
                a.categoria-secundaria__menu__link(href="#")
                    span Instagram
                    |/camersur
            li.categoria-secundaria__menu__item
                a.categoria-secundaria__menu__link(href="#")
                    span Twitter
                    |/camersur
            li.categoria-secundaria__menu__item
                a.categoria-secundaria__menu__link(href="#")
                    span LinkedIn
                    |/camersur
