.container
    .row
        .col-xs-12.header__detalle
            h1.cmsnews-titulo.cmsnews-titulo--detalle "LOREM IPSUM"
            p.header__detalle__descripcion
                |Suspendisse volutpat, mauris et luctus accumsan, diam tortor tristique ante, sit amet sodales enim nunc eget sem. Etiam hendrerit facilisis maximus. Cras volutpat, arcu luctus pretium tincidunt, quam nulla fringilla sem, in maximus metus nibh eget lorem. Integer quis erat a elit aliquet interdum et at metus.
            span.cmsnews-fecha 17/03/2017 11:00 a.m
