doctype html
html(lang="es")
    head
        title Camersur News
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="author", content="Jerson Moreno")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/icomoon/icomoon.css")
        link(rel="stylesheet", href="css/main.css")

        include _header

        block content

        include _footer

