// Botones de navegacion
.buttons-nav {
  width: 80%;
  height: 2em;
  margin: 0 auto;
  @include media(sm) {
    display: flex;
    justify-content: flex-end;
    width: 95%;
  }

  &__item {
    background: $gris-claro;
    width: 45%;
    height: 2em;
    margin: 0 5px;
    padding: 0.5em;
    position: relative;
    @include media(sm) {
      width: 20%;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      @include abscenter;
    }
    a {
      color: $azul-corporativo-oscuro;
      cursor: pointer;
      font-family: $muli-font;
      font-size: 0.85em;
      font-style: italic;
      margin: 0 0.2em;
      &:hover {
        color: darken($azul-corporativo-oscuro, 40%);
        text-decoration: none;
      }
    }

    &--prev {
      border-bottom: 1px solid $amarillo-corporativo;
      float: left;
      &:before {
        border-right: 6px solid $amarillo-corporativo;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }

    &--next {
      border-bottom: 1px solid $azul-corporativo;
      float: right;
      &:before {
        border-left: 6px solid $azul-corporativo;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        float: right;
        margin-top: 0.2em;
      }
    }
  }
}
// Boletines
.publicidad {
  font-family: $josefin-font;
  margin: 1em auto;
}
.boletin {
  &__titulo {
    background: $azul-corporativo-oscuro;
    border-bottom: 2px solid $amarillo-corporativo;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
  }
  // Email | Suscripcion
  &__acciones {
    display: flex;
    justify-content: space-between;
    margin: 0.5em auto;
    &__btnemail {
      background: $amarillo-corporativo;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em;
      width: 49%;
      a {
        color: $azul-corporativo-oscuro;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: darken($azul-corporativo-oscuro, 40%);
          text-decoration: none;
        }
      }
      &--suscribete {
        a {
          font-size: 1em;
          &:hover {
            color: darken($azul-corporativo-oscuro, 40%);
            text-decoration: none;
          }
        }
      }
    }
  }
  // Anteriores
  &__anteriores {
    border-bottom: 2px solid $azul-corporativo-oscuro;
    margin: 0.5em auto;
    padding-bottom: 0.5em;
    a {
      color: $seccion-politica;
      font-size: 1.2em;
      &:hover {
        color: darken($seccion-politica, 20%);
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

