// Encabezados
.cmsnews-encabezado {
  background: $azul-corporativo;
  padding: 10px;
  color: #fff;
  font-family: $josefin-font;
  text-align: center;
  text-transform: uppercase;
  &--opinion {
    background: $azul-corporativo-oscuro;
  }
}
// Titulo noticias
.cmsnews-titulo {
  font-family: $muli-font;
  font-size: 1.6em;
  font-weight: bold;
  margin: 5px 0;
  padding-bottom: 0.2em;
  &--noticia {
    border-bottom: 2px solid $azul-corporativo;
    display: block;
    font-size: 1.2em;
    line-height: 1.2;
    text-align: left;
    margin-top: 1em;
  }
  &--detalle {
    text-transform: capitalize;
    font-size: 1.8em;
  }
  &--relacionadas {
    color: #fff;
    font-size: 0.9em;
    margin: 1em auto;
    text-align: center;
  }
  &--categoria {
    font-family: $muli-font;
    font-size: 1.2em;
    line-height: 1.2;
  }
}
// Fecha
.cmsnews-fecha {
  color: darken($gris-claro, 40%);
  font-family: $muli-font;
  font-size: 0.8em;
}
// Banner publicitario
.cmsnews-banner {
  margin: 1em auto;
  @include media(md) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  a {
    text-align: center;
    img {
      min-width: 100%;
    }
  }
}

// Tag para noticias
.noticias-tag {
  border-radius: 12px;
  padding: 0.25rem 1rem;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  color: #fff;
  font-family: $josefin-font;
  font-size: 0.8em;
  text-transform: uppercase;
  &--comercio {
    background-color: categoria-color(comercio);
  }
  &--politica {
    background-color: categoria-color(politica);
  }
  &--economia {
    background-color: categoria-color(economia);
  }
  &--negocios {
    background-color: categoria-color(negocios);
  }
}

// Link de fecha de la noticia
.link-fecha {
  border-bottom: 1px solid $azul-corporativo;
  &:after {
    @include flecha-derecha;
  }
}
