.header {
  &__navegacion {
    @include media(sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .contenedor-logo {
      @include media(md) {
        width: 40%;
      }
      .logo {
        @include media(sm) {
          display:flex;
          justify-content: center;
        }
        @include media(md) {
          justify-content: flex-start;
        }
      }
    }
    @include media(md) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__cintillo {
    background: #000;
    border-bottom: 4px solid $azul-corporativo;
    color: #fff;
    font-family: $muli-font;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    height: 30px;
    position: relative;
    width: 100%;
    &:before {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 50%;
      right: 0;
      border-bottom: 4px solid $amarillo-corporativo;
    }
    &__hora, &__info, &__fecha {
      padding: 0.5em;
    }
    &__hora {
      background: $azul-corporativo;
      position: relative;
      transform: translateX(0);
      width: 6em;
      &:before {
        content: '';
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: transparent transparent transparent $amarillo-corporativo;
        position: absolute;
        left: 100%;
        top: 0;

      }
    }
    &__info {
      font-size: 0.9em;
      width: 75%;
      @include media(md) {
        font-size: 1.2em;
        padding: 0.3em;
        width: 85%;
      }
    }
    &__fecha {
      display: flex;
      padding: 0;
      width: 6.5em;
      &__dia-mes {
        background: $amarillo-corporativo;
        color: $azul-corporativo-oscuro;
        font-weight: bold;
        padding: 0.5em;
      }
      &__anio {
        padding: 0.5em;
      }
    }
  }
  &__titulo {
    font-family: $josefin-font;
    font-size: 2em;
    @include media(md) {
      font-size: 2.6em;
    }
    // Titulo de la categoria
    &__categoria {
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
      &--politica {
        color: categoria-color("politica");
      }
      &--negocios {
        color: categoria-color("negocios");
      }
      &--comercio {
        color: categoria-color("comercio");
      }
      &--economia {
        color: categoria-color("economia");
        //border-bottom: 2px solid categoria-color("economia");
      }
    }
  }
}
