// Sobreescribiendo estilos de bootstrap
.navbar-menu {
  font-family: $josefin-font;
  @include media(md) {
    width: 100%;
  }
  .navbar-default {
    background-color: $azul-corporativo-oscuro;
    border-color: darken($azul-corporativo, 10%);
    @include media(sm){
      background: none;
      border: none;
      border-radius: 0;
      border-right: 2px solid rgba(15, 31, 46, 0.5);
      margin-bottom: 0;
      padding-top: 0.5em;
    }
    @include media(md) {
      border-left: 2px solid rgba(15, 31, 46, 0.5);
    }
    .navbar-toggle {
      background-color: rgb(251, 173, 23);
      border-color: #fff;
      &:hover {
        background-color: rgb(228, 158, 21);
      }
      &:focus {
        background-color: rgb(251, 173, 23);
      }
      .icon-bar {
        background-color: $azul-corporativo-oscuro;
      }
    }
    .navbar-brand {
      color: #f7f7f7;
      font-size: 1.1em;
      text-transform: uppercase;
    }
    .navbar-form {
      .btn-default {
        color: $amarillo-corporativo;
      }
    }
    .navbar-nav {
      margin: 0 -15px;
      @include media(sm) {
        margin-left: 0px;
      }
      li {
        a {
          color: #f5f5f5;
          @include media(sm) {
            color: $azul-corporativo-oscuro;
            font-size: 0.65em;
            margin: 0;
            padding: 0.4em;
          }
          @include media(md) {
            font-size: 0.8em;
          }
          &:hover {
            color: $amarillo-corporativo;
            font-weight: bold;
            @include media(sm) {
              color: darken($azul-corporativo-oscuro, 40%);
            }
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  // Menu desplegable superior
  .menu {
    @include media(md) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__item {
      &:nth-of-type(1) {
        @include borde-inferior-menu($amarillo-corporativo);
      }
      &:nth-of-type(2) {
        @include borde-inferior-menu($seccion-comercio);
      }
      &:nth-of-type(3) {
        @include borde-inferior-menu($seccion-economia);
      }
      &:nth-of-type(4) {
        @include borde-inferior-menu($seccion-politica);
      }
      &:nth-of-type(5) {
        @include borde-inferior-menu($seccion-empresas-negocios);
        @include media(sm) {
          flex: 2;
        }
      }
      @include media(sm) {
        padding: 0 0.5em;
      }
      @include media(md) {
        flex: 1;
      }
    }
    &__link {
      text-transform: uppercase;
      font-size: 0.9em;
      @include media(md) {
        font-size:0.8em;
        text-align: center;
        padding: 0em;
      }
    }
  }
}
// Caja de busqueda
.caja-busqueda {
  @include media(md) {
    width: 15%;
  }
  .form-control {
    @include media(md) {
      display: none;
    }
  }
}

