.categoria-texto {
  font-family: $muli-font;
  line-height: 1.5;
}
.categoria-principal {
  margin: 2em auto;
  &__img {
    &--comercio {
      border-right: 1em solid $seccion-comercio;
    }
    &--economia {
      border-right: 1em solid $seccion-economia;
    }
    &--politica {
      border-right: 1em solid $seccion-politica;
    }
    &--negocios {
      border-right: 1em solid $seccion-empresas-negocios;
    }
  }
  &__descripcion {
    margin: 1em auto;
  }
  p {
    line-height: 1.2;
    margin-top: 1.2em;
  }
}
.categoria-secundaria {
  margin: 1em auto;
  &__publicidad {
    figure {
      margin-bottom: 2em;
    }
  }
  &__sociales {
    &__titulo {
      font-family: $josefin-font;
      font-size: 1.6em;
      text-transform: uppercase;
    }
  }
  &__menu {
    margin-top: 1.5em;
    &__item {
      border-bottom: 2px solid darken($gris-claro, 20%);
      line-height: 2;
    }
    &__link {
      color: #000;
      font-family: $muli-font;
      span {
        font-weight: bold;
      }
    }
  }
  &__publicidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .categoria-noticias {
    margin: 1em auto;
    @include media(md) {
      display: flex;
    }
    &__item {
      display: flex;
      flex-basis: 50%;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1em auto;
      padding: 0 0.5em;
      @include media(sm) {
        justify-content: flex-start;
      }
    }
    img {
      overflow: hidden;
    }
  }
  .categoria-descripcion {
    font-family: $muli-font;
    padding-left: 0.5em;
    p, span {
      line-height: 1.5;
    }
    &--politica {
      border-left: 1em solid $seccion-politica;
    }
    &--comercio {
      border-left: 1em solid $seccion-comercio;
    }
    &--economia {
      border-left: 1em solid $seccion-economia;
    }
    &--negocios {
      border-left: 1em solid $seccion-empresas-negocios;
    }
  }
}
