extends inc/layout

block content

    div(data-spy="affix", class="pull-left hidden-sm hidden-xs social-flotante")
        ul.social-floatante__menu
            a(href="#", class="social-flotante__link")
                li.social-flotante__item.social-flotante__item--facebook
                    span.icon-facebook
            a(href="#", class="social-flotante__link")
                li.social-flotante__item.social-flotante__item--twitter
                    span.icon-twitter
            a(href="#", class="social-flotante__link")
                li.social-flotante__item.social-flotante__item--linkedin
                    span.icon-linkedin
            a(href="#", class="social-flotante__link")
                li.social-flotante__item.social-flotante__item--whatsapp
                    span.icon-whatsapp

    .container
        .row
            .col-xs-12.col-md-8.col-lg-9
                .resultados
                    h2.resultados__titulo 19 resultados para:
                        span término buscado

                    .resultados__form
                        form
                            input(type="text")
                            select
                                option(selected="selected") Categoría
                            input.btn.btn-primary(type="submit", value="Buscar")

                    .resultados__listado
                        .resultados__item
                            h4.titular Titular de resultado 1 Titular de resultado 1 Titular de resultado 1
                            .resultados__info
                                span.tag.tag--comercio Comercio
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--comercio Comercio
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--economia Economía
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--comercio Comercio
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--comercio Comercio
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--politica Política
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--economia Economía
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--comercio Comercio
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                        .resultados__item
                            h4.titular Titular de resultado 1
                            .resultados__info
                                span.tag.tag--negocios Empresas y Negocios
                                span.fecha 17/03/2017
                                span.hora 11:00 A.M

                    hr

                    .buttons-nav
                        .buttons-nav__item.buttons-nav__item--prev
                            a(href="#") Más recientes
                        .buttons-nav__item.buttons-nav__item--next
                            a(href="#") Más antigüos

            .col-xs-12.col-md-4.col-lg-3

                aside.resultados-publicidad
                    article.resultados-publicidad__item
                                img(src="img/Banner4.png")
                    article.resultados-publicidad__item
                                img(src="img/Banner3.png")
                    article.resultados-publicidad__item
                                img(src="img/Banner1.png")
                    article.resultados-publicidad__item
                                img(src="img/Banner2.png")
